[Unit]
Description=Filestat Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=filestat_exporter
Group=filestat_exporter
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/filestat_exporter -config.file=/usr/local/bin/filestat.yml

[Install]
WantedBy=multi-user.target